<a href="https://colab.research.google.com/github/lmcanavals/data_mining/blob/main/notebooks/ja_condensed_representations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installing fim like a pro [check here](https://borgelt.net/pyfim.html)

In [3]:
%%script bash
curl -O https://borgelt.net/bin/py3/fim.so
sudo ln -sf "$(pwd)/fim.so" /usr/local/lib/python3.7/dist-packages/

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  756k  100  756k    0     0   262k      0  0:00:02  0:00:02 --:--:--  262k

In [4]:
from fim import *
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns; sns.set()
import time
import pandas as pd

In [9]:
url="https://raw.githubusercontent.com/lmcanavals/data_mining/main/data/"
url+="credit-german.txt"
url

'https://raw.githubusercontent.com/lmcanavals/data_mining/main/data/credit-german.txt'

In [ ]:
help(eclat)

In [10]:
creditGerman = pd.read_csv(url, sep='\t')
creditGerman.head()

  checking_status disc_duration  ... foreign_worker class
0              <0     lo_1_year  ...            yes  good
1        0<=X<200    up_2_years  ...            yes   bad
2     no checking     lo_1_year  ...            yes  good
3              <0    up_2_years  ...            yes  good
4              <0     1_2_years  ...            yes   bad

[5 rows x 19 columns]

In [11]:
len(creditGerman)

1000

In [13]:
!pip install -U arules

Collecting arules
  Downloading https://files.pythonhosted.org/packages/41/2c/5759ba98957f791a689e0f255f56f88b344fca892dcdf7d4bedf9bd3ab65/arules-0.0.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.7/dist-packages (from arules) (1.19.5)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.7/dist-packages (from arules) (1.1.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->arules) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->arules) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->arules) (1.15.0)
Installing collected packages: arules
Successfully installed arules-0.0.0

In [15]:
import arules as ar
from arules.utils import five_quantile_based_bins, top_bottom_10, top_5_variant_variables

In [16]:
rules, supp_dict = ar.create_association_rules(creditGerman, max_cols=2,
                                               binning_method=five_quantile_based_bins)

Calculating all relevant supports
100%|██████████| 190/190 [00:00<00:00, 604.20it/s]

Calculating all feature level rules per variable level rule
100%|██████████| 342/342 [00:01<00:00, 329.44it/s]
Overall # of Rules:  3388

In [17]:
rules

                                       antecedent  ... # of all records
0              {'job': 'unemp/unskilled non res'}  ...             1000
1                    {'employment': 'unemployed'}  ...             1000
2                         {'housing': 'for free'}  ...             1000
3     {'property_magnitude': 'no known property'}  ...             1000
4       {'credit_history': 'no credits/all paid'}  ...             1000
...                                           ...  ...              ...
3383          {'credit_history': 'existing paid'}  ...             1000
3384                      {'housing': 'for free'}  ...             1000
3385                               {'age': '<30'}  ...             1000
3386          {'job': 'high qualif/self emp/mgm'}  ...             1000
3387                    {'own_telephone': 'none'}  ...             1000

[3388 rows x 12 columns]

In [31]:
rules2 = rules[(rules['confidence'] >= 0.96) &
               (rules['rule_supp'] >= 0.6)]
rules2

                           antecedent  ... # of all records
1676        {'other_parties': 'none'}  ...             1000
1682               {'job': 'skilled'}  ...             1000
1692        {'num_dependents': 'one'}  ...             1000
1804      {'existing_credits': 'one'}  ...             1000
1822  {'other_payment_plans': 'none'}  ...             1000
1823               {'housing': 'own'}  ...             1000

[6 rows x 12 columns]

In [30]:
ar.present_rules_per_consequent(rules,
                                consequent={'foreign_worker':'yes'},
                                selection_function=top_5_variant_variables)

other_parties

                                             rule print  ...    lift
1676          other_parties=none ==> foreign_worker=yes  ...  1.0075
2398  other_parties=co applicant ==> foreign_worker=yes  ...  0.9371
2530     other_parties=guarantor ==> foreign_worker=yes  ...  0.9186

[3 rows x 6 columns]

disc_duration

                                           rule print  ...    lift
1428  disc_duration=up_2_years ==> foreign_worker=yes  ...  1.0339
1586   disc_duration=1_2_years ==> foreign_worker=yes  ...  1.0182
2256   disc_duration=lo_1_year ==> foreign_worker=yes  ...  0.9574

[3 rows x 6 columns]

purpose

                                             rule print  ...    lift
1381  purpose=domestic appliance ==> foreign_worker=yes  ...  1.0384
1382           purpose=education ==> foreign_worker=yes  ...  1.0384
1488            purpose=business ==> foreign_worker=yes  ...  1.0277
1556            purpose=radio/tv ==> foreign_worker=yes  ...  1.0199
1582            purpose=used car ==> foreign_worker=yes  ...  1.0183
1730  purpose=furniture/equipment ==> foreign_worker...  ...  1.0040
1904             purpose=repairs ==> foreign_worker=yes  ...  0.9912
2292               purpose=other ==> foreign_worker=yes  ...  0.9519
2330             purpose=new car ==> foreign_worker=yes  ...  0.9452

[9 rows x 6 columns]

job

                                             rule print  ...    lift
1520  job=high qualif/self emp/mgm ==> foreign_worke...  ...  1.0244
1682                 job=skilled ==> foreign_worker=yes  ...  1.0071
2198      job=unskilled resident ==> foreign_worker=yes  ...  0.9657
2342  job=unemp/unskilled non res ==> foreign_worker...  ...  0.9440

[4 rows x 6 columns]

property_magnitude

                                             rule print  ...    lift
1468      property_magnitude=car ==> foreign_worker=yes  ...  1.0290
1514  property_magnitude=no known property ==> forei...  ...  1.0249
1988  property_magnitude=life insurance ==> foreign_...  ...  0.9847
2204  property_magnitude=real estate ==> foreign_wor...  ...  0.9648

[4 rows x 6 columns]